<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<link rel="stylesheet" href="/simple.css" type="text/css" />
	<%= head %>
</head>
<body>
	<div id="content">
		<h1>Miko CMS</h1>
		
		<ul id="menu">
			<li><a href="/">home</a></li>
			<li><a href="/archive">archive</a></li>
			<li><a href="/contect">contact</a></li>
		</ul>
	
		<div class="post">
			<div class="details">
				<h2><%= content :title %></h2>
			</div>
			<div class="body">
				<%= content :body %>
			</div>
			<div class="x"></div>
		</div>
		
		<div class="col">
			<%= content :column1, true %>
		</div>
		<div class="col">
			<%= content :column1, true %>
		</div>
		<div class="col last">
			<%= content :column1, true %>
		</div>
		
		<div id="footer">
			<p>Copyright &copy; <em>Miko CMS</em> &middot; Design: Luka Cvrk, <a href="http://www.solucija.com/" title="Free CSS Templates">Solucija</a></p>
		</div>	
	</div>
</body>
</html>