<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%= head %>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="content">
		<div class="header">
			<h1><a href="#">What's your solution?</a></h1>
		</div>

		<div class="subheader">
			<div class="subheader_right">
				<a href="/">Strona główna</a><a href="/o-nas">O nas</a><a href="/kontakt">Kontakt</a>
			</div>
			<div class="subheader_left">
				<a href="#">Are we the best? Find out!</a>
			</div>
		</div>
  						
		<div class="right">
			<div><%= content :content, false %></div>
				
			<div class="line"></div>							
			<div class="right_left">
				<div><%= content :block1, true %></div>
			</div>
		
			<div class="right_right">
				<div><%= content :block2, true %></div>
			</div>
		</div>
		
		<div class="left">
			<div><%= content :left, true %></div>					
		</div>
		
		<div class="footer">
			<p><a href="#">RSS Feed</a> | <a href="#">Contact</a></p>	
			<p>© Copyright 2005, <a href="#">YourSite</a> | Design: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a> | Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a></p>
		</div>
	</div>
</body>
</html>